<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="com.arthenica.smartexception.logback.SmartExceptionConverter">
                <printModuleName>false</printModuleName>
                <printPackageInformation>true</printPackageInformation>
                <rootPackage>com.arthenica</rootPackage>
                <groupPackage>org.springframework</groupPackage>
                <ignorePackage>jdk.internal</ignorePackage>
            </throwableConverter>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>